input,select{padding:2px;}
.system_content_right{padding-bottom: 30px;}
.system_content_right_top{height: 100%;min-height: 800px;font-size: 14px;}
.announcemen-content,.releaseNte-content{margin: 20px;padding-top: 20px;min-width: 100%;min-width: 980px;}
.announcemen-content-top{font-size: 14px;font-weight: bold;}
.announcemen-content-conditions{margin:20px 60px;}
.announcemen-content-conditions-top{border-bottom: 1px dashed #dedede;padding-bottom: 20px;}
.conditionsEnd{width: 100%;min-width: 900px;}
.conditionsEnd td{height: 50px;}
.conditionsEnd .cases-input{width: 150px;height: 36px;border: 1px solid #dedede ;padding-right: 8px;}
.conditionsEnd .case-input{/*width: 125px;*/width: 25%;height: 36px;border: 1px solid #dedede ;padding-right: 8px;}
.app-case-qk{cursor: pointer;width: 94px;height: 36px;line-height: 36px;text-align: center;background: #fff;color: red;border-radius: 4px;border: 1px solid red;}
.app-case-inventory{width: 60%;margin-right: 20px;}
.app-case-ss{cursor: pointer;width: 96px;height: 38px;line-height: 38px;text-align: center;background: red;color: #fff;border-radius: 4px;}
.app-case-ss:hover{background-color: #dd0504;}
.conditionsEnd img {display: inline-block;}
.app-case-qk:hover{background-color: #dd0504;color: #fff;}
.app-case-left-width{width: 23%;display: inline-block;text-align:right;}
/*.app-case-left-width-last{width: 33%;display: inline-block;}*/
.tb-float{text-align: right;}
.tb-float>div,.tb-float>label{float: left;padding-right: 10px;}
.tb-float>label{width: 15%}


/*发布公告按钮*/
.userAddBtn{overflow: hidden;cursor: pointer;width: 100px;height: 36px;border:1px solid #dedede;
margin-top: 30px;text-align: right;padding-right:5px;line-height: 36px;background:linear-gradient(#fff,#dedede);
background: -webkit-linear-gradient(#fff,#dedede);background: -o-linear-gradient(#fff,#dedede);background: -mozlinear-gradient(#fff,#dedede); }
.userAddBtn_left{padding: 5px 2px 5px 10px;float: left}
.userAddBtn_right{float: left}
/*发布公告表格*/
.conditionRow{margin:20px 0;width: 100%}
.conditionTable{width: 99%;}
.conditionTable thead{background-color: #fafafa;text-align: center;}
.conditionTable thead th{background-color: #fafafa;text-align: center;font-weight: bold;text-align: center;}
.conditionTable thead tr{height: 50px;text-align: center;}
.conditionTable tbody tr{height: 40px;text-align: center;}
.conditionTable{table-layout: fixed;}
.conditionTable tbody td{overflow : hidden;text-overflow: ellipsis;white-space: nowrap;}
.conditionTable,.conditionTable tr,.conditionTable tr td,.conditionTable tr th{border:1px solid #dedede;}
.conditionTable .conditionTableLast>div{display: inline-block; margin:0 10px;color: #45bcf8;cursor: pointer;}
.conditionTable .conditionTableLast>div:hover{color:red;}
.manages-page{margin:20px auto;text-align: center;}

/*发布公告页面*/
.releaseNte-contentName{width: 100%;min-width: 790px;overflow: hidden;}
.releaseNte-contentName>div{float: left}
.contentNameLeft{width: 8%;margin-top: 10px;min-width: 80px;background: url(/business_union_cms/resources/images/notice/bixie.jpg) no-repeat 2px;text-indent: 1em}
.contentNameRight{width: 90%;min-width: 500px;}
.contentNameRight input[type="text"]{width: 350px;height: 36px;border: 1px solid #dedede;margin-right: 20px;}
.contentNameRight input[type="radio"]{width: 20px;height: 20px;border: 1px solid #dedede;}
.contentNameBox{min-height: 360px;border:1px solid #dedede;/*min-width: 400px;*/width: 85%;padding:3%;}
.contentNameBoxAdd{;min-height: 100px;line-height:20px;border:1px dashed #dedede;/*margin:20px 0;*/text-align: center;overflow: hidden;min-width: 500px;}
.addContentTop{;margin-bottom: 20px;}
.contentNameBoxAdd>div>div{float: left;margin:15px 30px;}
.contentNameBoxAdd>div{width: 40%;margin:auto auto;}
.contentBright{margin-top: 10px;}
.contentBright input{margin-left: 30px;}
.ReleaseForm{width: 260px;height: 40px;line-height: 40px;text-align: center;background-color: red;border-radius: 4px;color:#fff;margin: 20px auto;cursor: pointer;}
.ReleaseForm:hover{background-color: #dd0504;}
.counter{font-size: 16px;color:green}

/*标题图片*/
.releaseCar{margin-top: 10px;}
.releaseEnter{cursor: pointer;border:1px solid #dedede;border-radius: 4px;width: 100px;height: 30px;line-height: 30px;text-align: center;margin: 10px 0;
background:linear-gradient(#fff,#dedede);background: -webkit-linear-gradient(#fff,#dedede);  background: -o-linear-gradient(#fff,#dedede);  background: -moz-linear-gradient(#fff,#dedede);}
.fileEnterImg{width: 100px;height: 100px;border:1px solid #dedede;}
.fileEnterImg img{width: 100%;}

/*添加图片*/
.goods_desc_content>img{width:100%;height:100%}
.goods_desc_content>p,.goods_desc_content>img{margin:10px 0}
.creat-next-alert-imgs{overflow: hidden;padding-bottom: 10px;}
.creat-next-top-right{cursor: pointer;width: 100px;height: 36px;background-color: red;text-align: center;line-height: 36px;color: #fff;border-radius: 4px;float: right;}
.creat-next-top-right:hover{background-color:#dd0504;}
.create-next-imgs-sck{height: 100%;}
.create-next-imgs-sck ul{overflow: hidden;padding:20px 0;}
.create-next-imgs-sck ul li{float: left;margin:0 8px 30px 0 ;width: 90px;border:1px solid #dedede;height: 90px;background-color: #f5f5f5;}
.create-next-imgs-sck ul li .create-next-imgs-left{border:1px solid #dedede;width: 90px;height: 90px;background-color: #f5f5f5;}
.create-next-imgs-sck ul li .create-next-imgs-left.create-add-box{border-color: red;}
.create-next-imgs-sck ul li img{width: 100%;height: 100%}
.create-next-imgs-sck ul li div{text-align: center;}
.announcemenFile{width:0;height:0;line-height:0;position:absolute;left:-1000%}

/*添加文字*/
.AddTextTextarea textarea{margin:20px 30px;border:1px solid #dedede;}
.addTextBgc{padding:20px;position: relative;}
.addUpDown{z-index: 1000;position: absolute;top:50%;left:50%;}
.addUpDown img{margin:0 10px; cursor: pointer;}
.addContentTop .addTextBgc:hover{background-color: rgba(0,0,0,0.2);z-index: 1000;opacity:0.5;}
.addContentTop .addTextBgc:hover .addUpDown{display: block;}
.addUpDown{display: none}

/*详情*/
.systemDetailsDIV>div{margin:20px 0;}
.systemDetails {
    margin: 20px 20px 60px 20px;
    padding-top: 20px;
    min-width: 980px;}

/*成功案例*/
.success_case_content,.infoDetails{margin: 20px 20px 60px 20px;padding-top: 20px;min-width: 100%;min-width: 980px;}
.success_case_top{padding-bottom: 40px;border-bottom: 1px dashed #dedede; overflow: hidden; width: 99%;min-width: 900px; }
.success_case_top ul{overflow: hidden;}
.success_case_top ul li{float: left;margin:0 8px;width: 12%;min-width: 100px;}
.success_case_logo{position: relative;border:1px solid #dedede;border-radius: 50%;overflow: hidden;width: 90px;height: 90px;text-align: center;line-height: 20px;margin:auto auto;}
.success_case_logo>img{width: 100%;height: 100%;}
.success_case_body{margin:20px 0;padding-bottom: 20px;border-bottom: 1px dashed #dedede; }
.successDelete{display: none;position: absolute;padding:20px 0;    width: 90px; height: 90px;background-color: rgba(0,0,0,0.1);color: #fafafa;top: 0;}
.success_case_logo:hover .successDelete{cursor: pointer;display: block;}
.successNoimg{width: 90px; height: 90px;background-color: rgba(0,0,0,0.1);color: rgb(150, 146, 143);padding-top:20px;}
.opgName{margin:12px;text-align: center;width: 100px;}
.opgNameSty{color: #dedede;}


/*信息详情*/
.infoDetailsTable{width: 80%;margin:10px auto;}
.infoDetailsTable,.infoDetailsTable tr{border:1px solid #dedede;}
.infoDetailsTable thead{background-color: #fafafa;}
.infoDetailsTable tr{height: 40px; }
.infoDetailsTable tr td{padding:1rem; }
.infoDetailsTable tr td:first-child{width: 20%;}
/*设为成功案例*/
.successSelect{height: 180px;height: 180px;line-height: 180px; text-align: center;}
.successSelect>select{    border: 1px solid #dedede;width: 200px;height: 30px; margin-left: 10px;}

/*商品管理*/
/*商品类目管理*/
.categoryContent{margin: 20px 20px 60px 20px;padding-top: 20px;min-width: 100%;min-width: 980px;}
.category-table{width: 100%;height: 600px;background-color: #fff;vertical-align: top;margin:40px auto;}
.category-table,.category-table>tr,.category-table td{border:1px solid #c4d1e5;vertical-align: top;}
.category-table thead tr{background-color: #f1f2f7;height: 50px;line-height: 50px;background-clip: padding-box;}
.category-table thead tr input{border:1px solid #c4d1e5;border-radius: 20px;height: 34px;width: 40%;min-width: 70px;background: url(../images/categoryFind.png) no-repeat 5px #fff;padding:0 20px;text-indent: 20px;}
.category-table td{padding:0 5px;min-width: 200px;width: 30%;}
.category-table td:nth-child(2){visibility: hidden;}
.category-table td:nth-child(3){visibility: hidden;}
.category-table>tr:last-child{height: 550px; overflow:hidden;white-space:nowrap; }
.category-table>tr td{padding: 10px;}
.category-table dt{padding-top: 10px;font-weight: normal;}
.category-table dt>img{float: right;padding-right: 20px;}
.category-table-topAdd{float:left;cursor: pointer;font-size: 12px;background: url(../images/categoryAdd.png) no-repeat 5px;text-indent: 30px;display: inline-block;}
.category-table-topDelete{float:left;cursor: pointer;background: url(../images/categoryDelete.png) no-repeat 5px;text-indent: 30px;display: inline-block;}
.category-scroll{overflow: auto;overflow-x:hidden;height: 540px;}
.category-scroll ol,.category-scroll ol li{list-style:decimal inside}
.category-scroll ol{padding:5px 8px;}
.category-scroll ol li{padding:2px;cursor: pointer;}
.successSelect>input{    border: 1px solid #dedede;width: 200px;height: 30px; margin-left: 10px;}
.addBG{background-color: #f1f2f7;}


/*商品属性*/
.attributeContent .category-table{width: 70%;height: 600px;background-color: #fff;vertical-align: top;margin:10px auto;}
.attributeContent .category-table td:nth-child(2){visibility: visible;}
.attributeList{width: 70%;background-color: #fff;margin:10px auto;}
.attributeList > div{width: 48%;display: inline-block;margin-left: 5px;}

/*s商品品牌关联*/
.brandContenthead{width: 100%;background-color: #fff;vertical-align: top;}
.brandContenthead td{padding:0 5px;min-width: 200px;width: 30%;}
.brandContent .category-table{width: 100%;height: 600px;background-color: #fff;vertical-align: top;margin:10px auto;}
.brandContent .category-table td:nth-child(2){visibility: visible;}
.brandContent .category-table td:nth-child(3){visibility: visible;}
.animenu__nav_li{background: url(../images/mume_up.png) no-repeat 1px 2px; text-indent: 20px;}
/*.nav_add{background: url(../images/mume_dowm.png) no-repeat 1px 2px; text-indent: 20px;}*/
/*.animenu__nav__child{background: url(../images/mume_up.png) no-repeat 1px 2px; text-indent: 20px;}*/
.animenu__nav__child{padding: 0 10px;/*display: none;*/}
.addrow{overflow: hidden;display: block;}
.addrow input{float: left;margin: 5px;width: 15px;height: 15px;}
.addrow li{float: left;}
.notList{text-align: center;line-height: 200px;font-size: 16px;}
.notList a{color:#04b0f7;cursor: pointer}

/*用户管理*/
.userAddBtn{overflow: hidden;cursor: pointer;width: 100px;height: 36px;border:1px solid #dedede;margin-top: 30px;text-align: right;padding-right:5px;line-height: 36px;
	background:linear-gradient(#fff,#dedede);background: -webkit-linear-gradient(#fff,#dedede);  background: -o-linear-gradient(#fff,#dedede);  background: -mozlinear-gradient(#fff,#dedede); }
.userAddBtn_left{padding: 5px 2px 5px 10px;float: left}
.userAddBtn_right{float: left}
.userContent{margin:20px auto;width: 100%;}
.userContentTable{width: 100%;}
.user_left{width: 180px;padding-right: 10px;text-align: right;vertical-align: top;padding-top: 8px;}
.user_right input{width: 200px;height: 18px;border:1px solid #dedede;outline: 0 none;padding:9px 10px;margin-right: 10px;}
.user_right select{width: 222px;height: 40px;border: 1px solid #dcdcdd;}
.user_info{margin: 5px;height: 18px;color: #dd8293;font-size: 12px;background-image: url(../images/error_close.png);display: block;visibility: hidden;background-repeat: no-repeat;text-indent: 22px;background-position: 0 2px;}
.user_right_r{vertical-align: top;padding-top: 8px;}
.userContentTable tr{height: 50px;}
.user_right{padding-left: 5px;}

/*4.26更改*/
.brandContent .objadd{width: 70%;height: 600px;background-color: #fff;vertical-align: top;margin:10px auto;}
.animenu__nav_not{margin:0 0 0 20px;}
.categoryTd{position: relative;}
.system_search{overflow: auto;overflow-x:hidden;width: 300px;height: 250px;position: absolute;border: 1px solid #dedede;background-color: #fff;top: 45px;left: 10px;z-index: 999; }
.system_search ul li{line-height: 20px;margin:5px;cursor: pointer;}
.system_search ul li:hover{background-color: #f1f2f7;}
.category-table thead input{margin:7px 0;}

/*4.27变动*/
.categoryTd{position: relative;}
.system_search{overflow: auto;overflow-x:hidden;width: 300px;height: 250px;position: absolute;border: 1px solid #dedede;background-color: #fff;top: 45px;left: 10px;z-index: 999; }
.system_search ul li{line-height: 20px;margin:5px;cursor: pointer;}
.system_search ul li:hover{background-color: #f1f2f7;}
.category-table thead input{margin:7px 0;}
.category-table thead input{margin:7px 0;}
.category-scroll li{cursor: pointer;}
.goods_type_search {float:left}
